# Thư viện Node.js (Cực nặng, máy mới sẽ tự npm install lại)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Môi trường và Bảo mật (Tuyệt đối không đưa mật khẩu lên Git)
.env
.env.local

# Dữ liệu của Database (Được tạo ra khi chạy Docker)
mongo_data/

# File rác của hệ điều hành
.DS_Store
Thumbs.db

# Thư mục build/dist (nếu có)
dist/
build/